---
import Section from '../layouts/Section.astro';
import type { Company } from '../types';
import '../styles/experience.css';

interface Props {
  companies: Company[];
}

const { companies = [] } = Astro.props;
---

<Section id='experience'>
  <h2 slot='title'>Experience</h2>
  <div slot='body' class='experience'>
    <div class='section'>
      {
        companies.map((company) => (
          <div>
            <h3>{company.name}</h3>
            <div class='items'>
              {company.roles.map((role) => (
                <div>
                  <span class='header'>
                    <h4 class='title'>{role.title}</h4>
                    <span class='dates'>
                      {role.startDate} -{' '}
                      {role.current ? 'Present' : role.endDate}
                    </span>
                  </span>
                  {role.tagline && <p class='tagline'>{role.tagline}</p>}
                  {role.description && <p>{role.description}</p>}
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Section>
