---
import Section from '../layouts/Section.astro';
import BlogPostSummary from './BlogPostSummary.astro';
import '../styles/history.css';
import Button from './Button.astro';

const allPosts = Object.values(
  import.meta.glob('../pages/posts/*.md', { eager: true })
);

const recentPosts = allPosts
  .map((post: any) => ({
    ...post,
    date: new Date(post.frontmatter.pubDate),
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime())
  .slice(0, 3);
---

<Section id='posts'>
  <h2 slot='title'>Posts</h2>
  <div slot='body' class='section flex-column gap-1-5'>
    {
      recentPosts.length === 0 ? (
        <p>No posts available yet. Check back soon!</p>
      ) : (
        <>
          {recentPosts.map((post: any) => {
            const { title, pubDate, description, image } = post.frontmatter;
            return (
              <BlogPostSummary
                title={title}
                pubDate={pubDate}
                description={description}
                url={post.url}
                image={image}
              />
            );
          })}
          <div class='button-container flex-column'>
            <Button
              id='viewAllPostsButton'
              classes='button-medium button-primary button-filled'
            >
              View all posts
            </Button>
          </div>
        </>
      )
    }
  </div>
</Section>

<style>
  .button-container {
    align-items: center;
    width: 100%;
  }
</style>

<script>
  document
    ?.getElementById('viewAllPostsButton')
    ?.addEventListener('click', () => {
      window.location.href = '/posts';
    });
</script>
